<!DOCTYPE>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <ul>
        <li><a href="/subscribeChannel">subscribe for a chanel</a></li>
        <li><a href="/subscriberDetails">view Customer Subcription Details</a></li>
    </ul>
</body>

</html>