<!DOCTYPE>
<html>
<head>
    <title>
        Subscriber's Details
    </title>
</head>

<body>
    <H1>View Details Form</H1>
    <form  method="POST" action ="/userSubscribeDetails">
    <label for="subscriber_id"> Subscriber ID:</label>
        <input type="text" name="subscriber_id">
        <input type="submit" value ="submit"/>
        <input type = "submit" value = "clear" />

    </form>

</body>

</html>